package usecase

import (
	"context"
	"time"
	"{{ .Name }}"
)

type {{ .JSONName }}Usecase struct {
	articleRepo    domain.ArticleRepository
	authorRepo     domain.AuthorRepository
	contextTimeout time.Duration
}